/* line 1, ../sass/common.scss */
.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden {
  font-style: italic;
  color: red !important;
  font-weight: bold;
}

/* line 11, ../sass/common.scss */
.layout .layout__region {
  padding: 0 20px;
}
/* line 13, ../sass/common.scss */
.layout .layout__region img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 18, ../sass/common.scss */
.layout .layout__region .paragraph {
  padding: 10px 0;
}

/* line 26, ../sass/common.scss */
.layout.container,
.block-page-title-block.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

/* line 37, ../sass/common.scss */
.views-row .node--view-mode-teaser .field__item .node__content {
  padding-block-end: unset;
}

/* line 41, ../sass/common.scss */
.layout--threecol-section > .layout__region {
  margin-block-end: unset !important;
}

/* line 45, ../sass/common.scss */
.node--view-mode-teaser:after {
  border-top: none !important;
}
